<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	<h3>Billing  Information</h3>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
	<div class="panel-heading">
		<h3 class="panel-title">Payment History</h3>
	</div>
	<div class="panel-body">
		{{#if model}}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Sr. No.</th>
					<th>Cardholder Name</th>
					<th>Card Type</th>
					<th>Amout</th>
					<th>Purchase Type</th>
					<th>Transaction Date</th>
				</tr>
			</thead>
			<tbody>
				{{#each model}}
				<tr>
					<td><strong>Sr. No.</strong>{{increment _view.contentIndex}}</td>
					<td><strong>Cardholder Name</strong>{{cardholderName}}</td>
					<td><strong>Card Type</strong>{{cardType}}</td>
					<td><strong>Amout</strong>$ {{amount}}</td>
					<td><strong>Purchase Type</strong>{{purchasedType}}</td>
					<td><strong>Transaction Date</strong>{{formatDate createdAt}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{else}}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 form-group">
				<span>No Payment Yet</span>
			</div>
		</div>
		{{/if}}
	</div>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
	{{#if successTransaction}}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Success! {{successTransaction}}</h4>
	</div>
	{{/if}}
	{{#if errorMessage}}
	    {{#each errorMessage}}
	    <div class="alert alert-error"> {{unbound message}} </div>
	    {{/each}}
	{{/if}}
	<div class="panel-heading ">
		<h3 class="panel-title">Payment Method</h3>
	</div>
	<div class="panel-body">
		<form  {{action 'brainTreeAction' on="submit"}}  id="transaction_form" class="pure-form">
			<div class="row">	
				<div class="col-xs-12 col-sm-8 col-md-8 form-group">
					<label>Card Number</label>

					<input type="text" size="20" name="card_no"  required pattern="[0-9]{13,16}" autocomplete="off" placeholder="9842 9472 9457 9472" data-encrypted-name="number" id="card_no" class="form-control" />
				</div>
			</div>
			<div class="row">
				<label class="col-xs-12 col-sm-12 col-md-12">Expiration (MM/YYYY)</label>
				<div class="col-xs-12 col-sm-6 col-md-4 form-group">					
					<input type="text" size="10"  placeholder="02/06" class="month form-control" required data-encrypted-name="month" id="mm"/>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 form-group">
					<input type="text" size="10" placeholder="2014" class="year form-control" required data-encrypted-name="year" id="yyyy" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 form-group">
					<label>CVV</label>
					<input type="text" size="10" class="form-control" placeholder="174"  required autocomplete="off" data-encrypted-name="cvv" id="cvv" /> 
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 form-group">
					{{#if model}}
					<button  type="submit" id="submit" class="button-xlarge pure-button pure-button-primary" disabled>Pay $20.00 </button>
					{{else}}
					<button  type="submit" id="submit" class="button-xlarge pure-button pure-button-primary">Pay $20.00 </button>
					{{/if}}
				</div>
			</div>
		</form>
	</div>
</div>


