
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h3><span class="pure-button star-icon-yellow" style="padding:0px"><span></span></span>  Starred Properties</h3>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3 border-block">
    <div class="panel-body">
      <div id="property-listings" >
        <!-- Begin Listing: 609 W GRAVERS LN-->
        {{#each model class="pure-form"}}
          <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
            <div class="media">
              <a target="_parent" href="#" class="pull-left item-image">
              {{#if image}}
                <img src="{{unbound image}}" class="img-responsive" alt="image"></a>
              {{else}}
                <img src="/assets/images/slider1.jpg" class="img-responsive" alt="image"></a>
              {{/if}}
              <div class="clearfix visible-xs"></div>
              {{#if soldOut}}
                <div style="float:right">
                  <button style = "cursor:auto" class="pure-button pure-button-error" type="button">Sold Out </button>
                </div>
                {{/if}}
              <div class="media-body fnt-smaller">
                <a target="_parent" href="#"></a>
                <h2 class="media-heading">
                  <a target="_parent" href="#">{{propertyAddress}}<small class="pull-right price">${{monthlyRentFloor}}</small></a>
                </h2>
                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                  <li>{{squareFootageFloor}} SqFt</li>
                  <li style="list-style: none">|</li>
                  <li>{{bedroomCount}} Beds</li>
                  <li style="list-style: none">|</li>
                  <li>{{fullBathroomCount}} Baths</li>
                </ul>
                <p class="hidden-xs">{{salesyDescription}}</p>
                <span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox &amp; Roach-Chestnut Hill
                Evergreen</span>
                
              </div>
              
            </div>
          </div>
        {{/each}}
        <!-- End Listing-->
        {{#unless model}}
          <p><center> You haven't starred any property yet</center></p>
        {{/unless}}
      </div>
    </div>
  </div>
